.row:after{
  clear:both;
  display: table;
  content:"";
}

.row{
  height: 60px;
}

.App-title{
  color: black;
  text-align: left;
  text-indent: 60mm;
 
  float: left;
}

.Access-app{
  color: #78797a;
  font-size: 18px;
  padding: 20px;
  float: right;
  padding-right: 200px;
  font-weight: bold;
}

.Input-area{
  background-color: #099ae8;
  height: 1000px;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}

