.row:after{
    clear:both;
    display: table;
    content:"";
  }
  
  .row{
    height: 60px;
  }
  
  .App-title{
    color: black;
    text-align: left;
    text-indent: 40mm;
    float: left;
  }
  
  .Access-app{
    padding-top: 14px;
    padding-left: 700px;
    display: flex;
  }